body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 2;
margin: 0;
padding: 0;
}
.container {
max-width: 800px;
margin: 40px auto;
background: #fff;
padding: 40px;
border-radius: 8px;
box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
h1 {
color: black;   
padding-bottom: 10px;
font-size: 40px;
}
h2 {
color:black;
margin-top: 25px;
font-size: 1.4rem;
}
p {
margin-bottom: 15px;
text-align: center;
}
.highlight {
background-color: #e4e4e4;
padding: 15px;
}

.cuadro {
   width: 55%;
   max-width: 1000px;
   margin: 0 auto;
   padding-top: 25px;
   display: flex;
   flex-wrap: wrap;
   justify-items: center;
   padding-right: 40%;
   background-color: rgb(139, 139, 139);
}

.cuadro img {
  width: 30%;
  border-radius: 15px;
padding-bottom: 25px;
padding-right: 100px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;   
    margin-bottom: 20px;  
     padding-right: 100px; 
}