/* Eliminamos todo el margin y el padding */
*{
    margin: 0;
    padding: 0;
}
/* Color por defecto del body */
body{
    background-color: #ababab;
}
/*titulo principal */
#Nombre{
    padding: 40px 0;
    color: rgb(239 237 237);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 39px;
    background-color: #393939;
}
/*contenedor de enlaces */
 .enlaces{
    background-color: rgb(149 149 149);
    margin-top: -37px;
    text-decoration: none;
    padding: 14px 20px;
 }
 /* ponemos estilos a los apartados de la web */
.menu{
    text-decoration: none;
    color: black;
    margin: 0 30px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
/* ponemos estilos para que se note en que apartado estamos */
.menu_active{
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin: 0 30px;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* a単adimos un efecto visual cuando pasemos el cursor por encima */
.menu:hover{
color:rgb(255, 255, 255);
}
.info-empresa {
  margin-top: 3%;
    background-color: rgb(253, 253, 253);
    padding:20px;
    border-radius: 10px;
    max-width: 1000px;
    height: auto;
    margin: 50px auto;
}
.info-empresa h2 {
    margin-top: 20px;
    color: #000000;
    font-size: 30px;
    margin:40px;
    text-align: center;
    text-decoration: underline;
}

.parrafo{
  margin: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: center;
}

/*ponemos separaciones abajo y arriba para el mapa*/
.mapa{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
/* a単adimos los estilos del Pie */
.Pie{
  background-color: #393939;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 70px;
  justify-content: space-evenly;
}
/* Estilos de los textos*/
.columna h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.columna{
  text-align: center;
  text-decoration: underline white;
}
/*direccion de la empresa*/
.direccion{
text-align: center;
margin-left: 50px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*aviso legal*/
.aviso h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
}
.aviso{
text-align: center;
  margin-left: 50px;
}
/*a単adimos el enlace y el efecto cuando pasemos el cursor por encima */
.enlace{
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
.enlace:hover{
  text-decoration: underline;
}
/* a単adimos los logos ajustando su ancho y altura */
.logo{
 height: 30px;
 margin: 0px 6px 7px 6px;
}
.logo1{
  height: 22px;
  margin: 0px 0px 10.5px 10px;
}
.logo4{
height: 44px;
}
