<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/contacto.css">
</head>
<body>
    <header>
    
      <!----- Insertamos el nombre de la empresa ----->

        <h1 id="Nombre">VORTEX ACTIVE</h1>
    </header>
    <br>
    <br>

     <!----- Ponemos el menu de navegación ----->

<div class="enlaces">
    <nav>
    <a href="../index.html.html"class="menu">Inicio</a>
    <a href="Portfolio.html"class="menu">Portfolio</a>
    <a href="Presupuesto.html"class="menu">Presupuesto</a>
    <a href="contacto.html" class="menu_active">Contacto</a>
   </nav>
</div>

<main>

<section class="info-empresa">
  <h2>Contáctanos</h2>
  <p class="parrafo"> <strong>Dirección:</strong> Calle de la Empresa, 125<br>  29130 , Malaga, España</p></p>
  <p class="parrafo"> <strong>Teléfono:</strong> +34 600 123 456</p></p>
  <p class="parrafo"> <strong>Email:</strong> infovortexactive@gmail.com</p></p> 
  <p class="parrafo"> <strong>Horario:</strong> Lunes a viernes 9:00 - 18:00</p></p>
  <section>
<div class="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18105.460045937976!2d-4.559742216166782!3d36.659509749082105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72fada8c708a7b%3A0xe50654c921314eb6!2s29130%20Alhaur%C3%ADn%20de%20la%20Torre%2C%20M%C3%A1laga!5e0!3m2!1ses!2ses!4v1770120751561!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</main>

<!----- Insertamos mapa de la zona ----->


<!----- Pie de pagina con información de redes, contacto y aviso legal ----->
<footer>
  <div class="Pie">
    <div class="columna">
      <h3>Redes</h3>
      <br>
      <a href="https://www.youtube.com">
      <img src="../images/logo_youtube-removebg-preview.png" alt="" class="logo4">
     </a>
    <a href="https://www.x.com">
      <img src="../images/Logo_x_x-removebg-preview.png" alt="" class="logo">
    </a>
    <a href="https://www.instragram.com">
      <img src="../images/Logo_ig-removebg-preview.png" alt="" class="logo">
    </a>
    <a href="https://facebook.com">
      <img src="../images/Logo_de_Facebook.png" alt="" class="logo1">
    </a>
    </div>
     <address class="direccion"> 
    <strong>VORTEX ACTIVE</strong><br>
    Calle de la Empresa, 125<br>
    29130 , Malaga, España<br>
    Teléfono: <a href="tel:+34600123456">+34 600 123 456</a><br>
    Email: <a href="Vortex:info@empresa.com">infovortexactive@gmail.com</a><br>
    </strong><br>
  </address>
  <div class="aviso">
    <h3>Informacion general</h3>
  <nav>
 <a href="aviso_legal.html" class="enlace">Aviso legal</a>
  </nav>
 </div>

</body>
</html>