<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/Portfolio.css">
</head>
<body>
    <header>

<!----- Insertamos el nombre de la empresa ----->

        <h1 id="Nombre">VORTEX ACTIVE</h1>
    
    <br>
    <br>

    <!----- Ponemos el menu de navegación ----->


<div class="enlaces">
    <nav>
    <a href="../index.html.html"class="menu">Inicio</a>
    <a href="Portfolio.html"class="menu_active">Portfolio</a>
    <a href="Presupuesto.html"class="menu">Presupuesto</a>
    <a href="contacto.html" class="menu">Contacto</a>
   </nav>
</div>
<!----- Fin menu de navegación ----->

<!----- Insertamos la galeria de imagenes con sus precios-->
</header>
<div class="galeria">
    <div class="prod">
        <img src="../images/barca.jpg" alt="producto1">
        <h3>2ª Equip. Fc Barcelona 25/26</h3>
        <p>Equipación Fútbol Niño Blanco</p>
        <h4>69,99 €</h4>
    </div>

    <div class="prod">
        <img src="../images/puma-electrify-nitro-4_.jpg" alt="producto2">
        <h3>Puma Electrify Nitro 4</h3>
        <p>Zapatillas Running Mujer Blanco</p>
        <h4>99,99 €</h4>
    </div>
    
    <div class="prod">
        <img src="../images/up-basic_.jpg" alt="producto3">
        <h3>Puma Evostripe</h3>
        <p>Pantalón Chándal Niño Negro</p>
        <h4>19,99 €</h4>
    </div>

    <div class="prod">
        <img src="../images/puma-ultra-match.jpg" alt="producto4">
        <h3>Puma Ultra Match</h3>
        <p>Botas Fútbol Tacos Azul</p>
        <h4>54,99 €</h4>
    </div>
    <div class="prod">
        <img src="../images/pantalon-corto-jordan.jpg" alt="producto5">
        <h3>Pantalón Corto Jordan</h3>
        <p>Bermuda Niño Negro</p>
        <h4>37,99 €</h4>
    </div>
    <div class="prod">
        <img src="../images/adidas-galaxy-7_.jpg" alt="producto6">
        <h3>adidas Galaxy 7</h3>
        <p>Zapatillas Running Hombre Verde</p>
        <h4>44,99 €</h4>
    </div>
    <div class="prod">
        <img src="../images/hp-navidad-module-02-header-03-desk-es.jpg" alt="producto7">
        <h3>Jack & Jones Pan</h3>
        <p>Sudadera Capucha Niño Negro</p>
        <h4>24,99 €</h4>
    </div>
    <div class="prod">
        <img src="../images/nike-air.jpg" alt="Producto8">
        <h3>Nike Air</h3>
        <p>Sudadera Capucha Niño Marrón</p>
        <h4>59,99 €</h4>
    </div>
    <div class="prod">
        <img src="../images/man-united-jr-cmta-mc-football-1-equip-25-26_.jpg" alt="producto9">
        <h3>Camiseta Man. United 1ª Equip. 25/26</h3>
        <p>Camiseta Fútbol Junior Rojo</p>
        <h4>59,99 €</h4>
    </div>
    <div class="prod">
        <img src="../images/skechers-stamina-at.jpg" alt="producto10">
        <h3>Skechers Stamina At</h3>
        <p>Zapatillas Trekking Mujer Marrón</p>
        <h4>74,99 €</h4>
    </div>
    <div class="prod">
        <img src="../images/fila-f90_.jpg" alt="producto11">
        <h3>Fila F90</h3>
        <p>Reloj Deportivo Running Gris</p>
        <h4>54,99 €</h4>
    </div>
    <div class="prod">
        <img src="../images/parka-fila_.jpg" alt="producto12">
        <h3>Parka Fila</h3>
        <p>Chaqueta Niño Negro</p>
        <h4>44,99 €</h4>
    </div>
</div>



<!----- Fin de la galeria ----->

<!----- Pie de pagina con información de redes, contacto y aviso legal ----->
<footer>
  <div class="Pie">
    <div class="columna">
      <h3>Redes</h3>
      <br>
      <a href="https://www.youtube.com">
      <img src="../images/logo_youtube-removebg-preview.png" alt="" class="logo4">
     </a>
    <a href="https://www.x.com">
      <img src="../images/Logo_x_x-removebg-preview.png" alt="" class="logo">
    </a>
    <a href="https://www.instragram.com">
      <img src="../images/Logo_ig-removebg-preview.png" alt="" class="logo">
    </a>
    <a href="https://facebook.com">
      <img src="../images/Logo_de_Facebook.png" alt="" class="logo1">
    </a>
    </div>
     <address class="direccion"> 
    <strong>VORTEX ACTIVE</strong><br>
    Calle de la Empresa, 125<br>
    29130, Malaga, España<br>
    Teléfono: <a href="tel:+34600123456">+34 600 123 456</a><br>
    Email: <a href="Vortex:info@empresa.com">infoVortex@empresa.com</a><br>
    </strong><br>
  </address>
  <div class="aviso">
    <h3>Informacion general</h3>
  <nav>
 <a href="aviso_legal.html" class="enlace">Aviso legal</a>
  </nav>
 </div>
  </div>
</footer>
</body>
</html>