<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Presupuesto.css">
</head>
<body>
    <header>

      <!----- Insertamos el nombre de la empresa ----->

        <h1 id="Nombre">VORTEX ACTIVE</h1>
    </header>
    <br>
    <br>

      <!----- Ponemos el menu de navegación ----->

<div class="enlaces">
    <nav>
    <a href="../index.html.html"class="menu">Inicio</a>
    <a href="Portfolio.html"class="menu">Portfolio</a>
    <a href="Presupuesto.html"class="menu_active">Presupuesto</a>
    <a href="contacto.html" class="menu">Contacto</a>
   </nav>
</div>
<!----- Fin menu de navegación ----->

<!----- Ponemos el formulario ----->

<form class="Formulario" action="#" method="post">

<h2 id="campos">SOLICITUD DE PRESUPUESTO</h2>
    <div>
    <label>NOMBRE</label>
    <input type="text" name="nombre" required placeholder="Nombre (requerido)">
  </div>
  
  <div>
    <label>TELEFONO</label>
    <input type="tel" name="Teléfono"  required placeholder="Teléfono (requerido)">
  </div>

<div>
    <label>E-MAIL</label>
    <br>
    <input type="email" name="email" required placeholder="Direccion@correo.com (requerido)">
  </div>
  <div>

    <label>SOLICITE MAS INFORMACION</label>
    <br>
    <textarea name="mensaje" required></textarea>
  </div>
  <div class="botones">
    <button type="submit">ENVIAR FORMULARIO</button>
    <button type="reset">BORRAR FORMULARIO</button>
</div>

<div class="privacidad">
   <label>
      <input type="checkbox" name="privacidad" required>
         He leído y acepto la <a href="#">Política de privacidad</a>
    </label>
    </div>
</div>

</form>
    
<!----- Fin del formulario ----->

<!----- Pie de pagina con información de redes, contacto y aviso legal ----->
<footer>
  <div class="Pie">
    <div class="columna">
      <h3>Redes</h3>
      <br>
      <a href="https://www.youtube.com">
      <img src="../images/logo_youtube-removebg-preview.png" alt="" class="logo4">
     </a>
    <a href="https://www.x.com">
      <img src="../images/Logo_x_x-removebg-preview.png" alt="" class="logo">
    </a>
    <a href="https://www.instragram.com">
      <img src="../images/Logo_ig-removebg-preview.png" alt="" class="logo">
    </a>
    <a href="https://facebook.com">
      <img src="../images/Logo_de_Facebook.png" alt="" class="logo1">
    </a>
    </div>
     <address class="direccion"> 
    <strong>VORTEX ACTIVE</strong><br>
    Calle de la Empresa, 125<br>
    29130, Malaga, España<br>
    Teléfono: <a href="tel:+34600123456">+34 600 123 456</a><br>
    Email: <a href="Vortex:info@empresa.com">infoVortex@empresa.com</a><br>
    </strong><br>
  </address>
  <div class="aviso">
    <h3>Informacion general</h3>
  <nav>
 <a href="aviso_legal.html" class="enlace">Aviso legal</a>
  </nav>
 </div>

        
</body>
</html>